.l-main-section
  h2 Angular 프로젝트
  h2 Angular Projects
  p 우리는 여러분이 소스 코드에 기여하고 Angular 프로젝트를 개선하는 것을 좋아합니다.
  p We'd love for you to contribute to our source code and to make Angular projects even better.

  .l-sub-section
    h3 Angular
    h3 Angular

    p Angular는 차세대 모바일 및 데스크탑 애플리케이션 개발 플랫폼입니다.
    p Angular is a next generation mobile and desktop application development platform.

    a(href="https://github.com/angular/angular/blob/master/CONTRIBUTING.md" class="button" md-button) Angular에 기여하기
    a(href="https://github.com/angular/angular/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular

  .l-sub-section
    h3 JavaScript 또는 Dart를 위한 Angular
    h3 Angular for JavaScript or Dart

    p Angular는 모바일 및 데스크탑 애플리케이션을 위한 개발 플랫폼입니다.
    p Angular is a development platform for building mobile and desktop applications.

    a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button) JavaScript를 위한 Angular에 기여하기
    a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular for JS

    a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button) DART를 위한 Angular에 기여하기
    a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button) Contribute to Angular for DART

  .l-sub-section
    h3 Angular Material
    h3 Angular Material

    p Angular Material의 목표는 Angular 단일 페이지 애플리케이션에서 사용하기 위해 Material 디자인을 구현하는 쉽고, 가벼운 Angular 기반 UI 요소를 제공하는 것입니다 (SPAs).
    p Our goal is to deliver a lean, lightweight set of Angular-based UI elements that implement the material design specification for use in Angular single-page applications (SPAs).

    a(href="https://github.com/angular/material/blob/master/.github/CONTRIBUTING.md" class="button" md-button) Angular Material에 기여하기
    a(href="https://github.com/angular/material/blob/master/.github/CONTRIBUTING.md" class="button" md-button) Contribute to Angular Material

  .l-sub-section
    h3 AngularFire
    h3 AngularFire

    p AngularFire는 Firebase에 공식적으로 지원되는 Angular 바인딩입니다. Firebase는 완전한 백엔드이므로, Angular 앱을 만들 서버가 필요 없습니다.
    p AngularFire is the officially supported Angular binding for Firebase. Firebase is a full backend so you don't need servers to build your Angular app.

    a(href="https://github.com/firebase/angularFire" class="button" md-button) AngularFire에 기여하기
    a(href="https://github.com/firebase/angularFire" class="button" md-button) Contribute to AngularFire
