div
  div
    h2(class="text-headline") 크로스 플랫폼
    div(class="feature-row")
      div(class="feature")
        h3 프로그레시브 웹 앱
        p(class="text-body") 네이티브 앱과 유사한 경험을 주기 위해 현대 웹 플랫폼 기능을 사용합니다. 높은 성능, 오프라인과 0단계 설치도 제공합니다.

      div(class="feature")
        h3 네이티브
        p(class="text-body") Ionic 프레임워크, NativeScript, 그리고 React Native의 방식을 병행하여 네이티브 모바일 앱을 빌드할 수 있습니다.

      div(class="feature")
        h3 데스크탑
        p(class="text-body") 네이티브 OS API에 접근하는 웹 개발 능력을 위해 여러분이 배웠던 동일한 Angular 메소드들을 사용하여 Mac, Windows, 그리고 Linux를 모두 지원하는 데스크탑 환경 앱을 만들 수 있습니다.

    h2(class="text-headline") 속도와 성능
    div(class="feature-row")
      div(class="feature")
        h3 코드 생성
        p(class="text-body") Angular는 여러분의 템플릿들을 프레임워크의 생산성과 함께 손으로 작성한 코드의 모든 이점을 제공하면서, 오늘날의 자바스크립트 가상 머신을 위한 고도로 최적화된 코드로 변환합니다.
      div(class="feature")
        h3 보편성
        p(class="text-body") node.js, .NET, PHP, 그 외 다른 서버에서 만들어진 여러분의 어플리케이션을 HTML과 CSS로 거의 실시간으로 렌더링하기 위해 최초의 뷰 화면을 제공합니다. 또한 사이트를 SEO로 최적화된 방식으로 포장합니다.
      div(class="feature")
        h3 코드 파편화
        p(class="text-body") Angular 앱은 자동 코드 파편화를 제공하는 새로운 컴포넌트 라우터를 함께 빠르게 불러오기 때문에 사용자들은 그들이 요청한 뷰를 렌더링하기위해 필요한 코드만 불러옵니다.

    h2(class="text-headline") 생산성
    div(class="feature-row")
      div(class="feature")
        h3 템플릿
        p(class="text-body") Quickly create UI views with simple and powerful template syntax.
      div(class="feature")
        h3 Angular CLI
        p(class="text-body") Command line tools: start building fast, add components and tests, then instantly deploy.
      div(class="feature")
        h3 IDEs
        p(class="text-body") Get intelligent code completion, instant errors and other feedback in popular editors and IDEs.

    h2(class="text-headline") 전체 개발 스토리
    div(class="feature-row")
      div(class="feature")
        h3 테스트
        p(class="text-body") With Karma for unit tests, you can know if you've broken things every time you save. And Protractor makes your scenario tests run faster and stably.
      div(class="feature")
        h3 애니메이션
        p(class="text-body") Create high performance complex choreographies and animation timelines with very little code through Angular's intuitive API.
      div(class="feature")
        h3 접근성
        p(class="text-body") Create accessible applications with ARIA-enabled components, developer guides, and built-in a11y test infrastructure.

!= partial("/_includes/_cta-bar")
