include _includes/_util-fns

div(class="home-rows")
  // Group 1
  div(layout="row" layout-xs="column" class="home-row")
    div(class="promo-img-container promo-1")
      div
        img(src="resources/images/home/responsive-framework.svg")
    div(class="text-container")
      div(class="text-block promo-1-desc l-pad-top-2")
        h3(class="text-headline") 모든 플랫폼에 걸쳐 개발하세요
        h3(class="text-headline") Develop Across All Platforms
        p(class="text-body").
          Angular로 여러분의 애플리케이션을 빌드하고 여러분의 코드를 재사용하는 방법을 배우고, 
          어떠한 배포를 위한 앱이든지 빌드할 능력을 배울 수 있습니다.
          웹, 모바일 웹, 네이티브 모바일과 네이티브 데스크탑 모두에서 가능합니다.
        p(class="text-body").
          Learn one way to build applications with Angular and reuse your code and 
          abilities to build apps for any deployment target. 
          For web, mobile web, native mobile and native desktop.
  // Group 2
  div(layout="row" layout-xs="column" class="home-row")
    div(class="text-container")
      div(class="text-block")
        h3(class="text-headline") 속도와 성능
        h3(class="text-headline") Speed & Performance
        p(class="text-body").
          오늘날 웹 플랫폼에서 가장 빠른 속도를 얻을 수 있으며, 
          더 나아가 웹 워커와 서버사이드 렌더링을 통해 가장 빠른 속도를 얻을 수 있습니다.
        p(class="text-body").
          Achieve the maximum speed possible on the Web Platform today, 
          and take it further, via Web Workers and server-side rendering.
        br
        p(class="text-body").
          Angular는 규모확장성에 대한 통제를 가능하게 합니다. RxJS, Immutable.js 또는 다른 푸시모델을 통해
          데이터 모델을 구축한 결과로 발생하는 거대한 데이터 요구사항을 만나보세요.
        p(class="text-body").
          Angular puts you in control over scalability. 
          Meet huge data requirements by building data models on RxJS, Immutable.js or 
          another push-model.
    div(class="promo-img-container promo-2")
      div
        img(src="resources/images/home/speed-performance.svg")

  // Group 3
  div(layout="row" layout-xs="column" class="home-row")
    div(class="promo-img-container promo-3")
      div
        img(src="resources/images/home/joyful-development.png")
    div(class="text-container")
      div(class="text-block promo-3-desc")
        h3(class="text-headline") 놀라운 도구
        h3(class="text-headline") Incredible Tooling
        p(class="text-body").
          간단하고, 기존에 선언된 템플릿을 통해 특징을 빠르게 만들어보세요. 
          여러분 자신의 컴포넌트로 템플릿 언어를 확장하고 이미 존재하는 컴포넌트들의 넓은 배열을 사용해보세요. 
          Angular에 특화된 지원, 그리고 거의 모든 IDE와 에디터에 대한 피드백을 바로 얻을 수 있습니다. 
          이 모든 사항들을 함께 사용할 수 있기에, 여러분들은 단순 코드 작업이 아니라 놀라운 앱 만들기에 집중할 수 있습니다.
        p(class="text-body").
          Build features quickly with simple, declarative templates. 
          Extend the template language with your own components and use a 
          wide array of existing components.  Get immediate Angular-specific help 
          and feedback with nearly every IDE and editor.  
          All this comes together so you can focus on building amazing apps rather 
          than trying to make the code work.

  // Group 4
  div(layout="row" layout-xs="column" class="home-row")
    div(class="text-container")
      div(class="text-block l-pad-top-2")
        h3(class="text-headline") 수백만 명에게 사랑받는
        h3(class="text-headline") Loved by Millions
        p(class="text-body").
          전세계로의 배포를 통한 프로토타입으로부터, Angular는 생산성과 구글의 가장 큰 애플리케이션을 지원하는 
          확장 가능한 인프라를 제공합니다.
        p(class="text-body").
          From prototype through global deployment, 
          Angular delivers the productivity and scalable infrastructure that 
          supports Google's largest applications.
    div(class="promo-img-container promo-4")
      div
        img(src="resources/images/home/loved-by-millions.png")
        
  .cta-bar
    a(href="/docs/ts/latest/quickstart.html" class="button button-large button-shield md-raised " + "md-primary" md-button) 시작하기
