div(class="presskit-container l-space-neg-top-8")
  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 ANGULAR 로고
        h2 ANGULAR LOGO
        
        p 이 페이지에서 다운로드 할 수 있는 로고 그래픽은 <a class="cc-by-anchor" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>에서 제공됩니다. 즉, 셔츠에 인쇄하거나, 자신만의 변형을 만들거나, 배꼽 위에 문신을 새기는 등 원하는 것을 할 수 있습니다.
        
        p The logo graphics available for download on this page are provided under <a class="cc-by-anchor" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. This means that you can pretty much do what you like with it including printing it on shirts, creating your own variations, or getting it tattooed over your navel.

        p 혼란을 피하기 위해 사이트 그래픽을 다른 상황에서 사용하지 말 것을 부탁드립니다.

        p We do ask that you not use the rest of the site graphics in other contexts to avoid confusion.

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        img(src="resources/images/logos/angular2/angular.svg")
      div
        h3(class="l-space-left-3") 풀 컬러 로고
        h3(class="l-space-left-3") FULL COLOR LOGO
        ul(class="l-space-left-3")
          li
            span Angular 로고 (png) - <a href="resources/images/logos/angular2/angular.png" download>다운받기</a>
          li
            span Angular Logo (png) - <a href="resources/images/logos/angular2/angular.png" download>Download</a>
          li
            span Angular 로고 (svg) - <a href="resources/images/logos/angular2/angular.svg" download>다운받기</a>
          li
            span Angular Logo (svg) - <a href="resources/images/logos/angular2/angular.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular2/angular_solidBlack.svg")
      div
        h3(class="l-space-left-3") 단색 로고
        h3(class="l-space-left-3") ONE COLOR LOGO
        ul(class="l-space-left-3")
          li
            span Angular 검정 로고 (png) - <a href="resources/images/logos/angular2/angular_solidBlack.png" download>다운닥기</a>
          li
            span Angular Logo Black (png) - <a href="resources/images/logos/angular2/angular_solidBlack.png" download>Download</a>
          li
            span Angular 검정 로고 (svg) - <a href="resources/images/logos/angular2/angular_solidBlack.svg" download>다운받기</a>
          li
            span Angular Logo Black (svg) - <a href="resources/images/logos/angular2/angular_solidBlack.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular2/angular_whiteTransparent.svg" class="transparent-img-bg")
      div
        h3(class="l-space-left-3") 색상반전 단색 로고
        h3(class="l-space-left-3") ONE COLOR INVERSE LOGO
        ul(class="l-space-left-3")
          li
            span 흰색 반투명 Angular 로고 (png) - <a href="resources/images/logos/angular2/angular_whiteTransparent.png" download>Download</a>
          li
            span Angular Logo White Semi-Transparent (png) - <a href="resources/images/logos/angular2/angular_whiteTransparent.png" download>Download</a>
          li
            span 반투명 Angular 로고 (svg) - <a href="resources/images/logos/angular2/angular_whiteTransparent.svg" download>Download</a>
          li
            span Angular Logo Semi-Transparent (svg) - <a href="resources/images/logos/angular2/angular_whiteTransparent.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 보도자료 및 미디어
        h2 PRESS AND MEDIA
        p
          | 언론보도 및 미디어 관련 문의사항은 
          | <a href="mailto:press@angular.io">press@angular.io</a>로 연락바랍니다.
        p
          | For inquiries regarding press and media please contact us at
          | <a href="mailto:press@angular.io">press@angular.io</a>.
