include ../_util-fns 

:marked
  *요리책은*는 일반적인 구현 관련 질문에 대한 답변을 제공합니다.

  The *Cookbook* offers answers to common implementation questions.
  
  요리책의 각 장은 데이터 바인딩, 여러 컴포넌트 상호 작용 및 HTTP를 통한 원격 서버 통신 같은 Angular의 특정 기능이나 애플리케이션의 과제에 중점을 둔 요리법의 모음입니다.

  Each cookbook chapter is a collection of recipes focused on a particular Angular feature or application challenge
  such as data binding, cross-component interaction, and communicating with a remote server via HTTP.

.l-sub-section
  :marked
    요리책은 이제 막 시작되었습니다. 더 많은 요리법이 진행되고 있습니다.

    The cookbook is just getting started. Many more recipes are on the way.

:marked
  각 요리책의 챕터는 모든 요리법이 포함된 라이브 샘플로 연결됩니다.

  Each cookbook chapter links to a live sample with every recipe included.
  
  요리법은 의도적으로 간결하고 코드 중심적 입니다.
  각 요리법은 개발자 가이드 또는 API 가이드의 챕터로 연결되며, 
  코드 조각(snippets) 내의 목적, 컨텍스트 및 디자인 선택 사항에 대해 자세히 배울 수 있습니다.

  Recipes are deliberately brief and code-centric. 
  Each recipe links to a chapter of the Developer Guide or the API Guide
  where you can learn more about the purpose, context, and design choices behind the code snippets.
  
  ## 피드백
  ## Feedback
  
  요리책은 끊임없이 *진행중인 작업*입니다.
  우리는 피드백을 환영합니다! 배너의 오른쪽 상단 모서리에있는 아이콘을 클릭하여 피드백을 남기세요.

  The cookbook is a perpetual *work-in-progress*. 
  We welcome feedback! Leave a comment by clicking the icon in upper right corner of the banner.
  
  *문서* 이슈들을 제기하고, [angular.io](https://github.com/angular/angular.io) 깃허브 저장소에 풀리퀘스트(PR)을 보내세요.

  Post *documentation* issues and pull requests on the 
  [angular.io](https://github.com/angular/angular.io) github repository.
  
  *Angular 자체*의 이슈는 [angular](https://github.com/angular/angular) 깃허브 저장소에 게시해주세요.

  Post issues with *Angular itself* to the [angular](https://github.com/angular/angular) github repository.

  *Angular의 한글문서*관련 이슈는 [angular](https://github.com/angular/angular-ko) 깃허브 저장소에 게시해주세요.

  Post issues with *Angular localization for Korean* to the [angular](https://github.com/angular/angular-ko) github repository.