table
  tr
    td
      :marked
        live 예제의 브라우저 주소창에서 URL 변경을 확인하려면, Plunker 에디터에서 우상단의 아이콘을 클릭하여 다시 연 다음, 우상단 코너에 있는 'X' 버튼을 클릭하여 프리뷰 창을 여세요.

        To see the URL changes in the browser address bar of the live example,
        open it again in the Plunker editor by clicking the icon in the upper right,
        then pop out the preview window by clicking the blue 'X' button in the upper right corner.
    td
      img(src='/resources/images/devguide/plunker-switch-to-editor-button.png' width="200px" height="70px" alt="pop out the window" align="right" )
      br
      img(src='/resources/images/devguide/plunker-separate-window-button.png' width="200px" height="47px" alt="pop out the window" align="right" )
